{% extends "layout/template-base.html" %}

{% block title %}MSX Center - Member profile{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block content %}
</div>{# we don't want to use the grid container opened by the template #}
<div id="profile-background"></div>
<div id="user-stats"></div>
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3" id="original-poster-avatar">
			{{ macros.member_profile_data(member=member) }}
			{% if member.id == user.id %}
				{{ macros.member_profile_buttons() }}
			{% endif %}
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9">
			<h1>Activity </h1>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">On <a href="#">That discussion where we throw shit at each other</a></h3></div>
				<div class="panel-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie nibh ante, sit amet venenatis dolor facilisis et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed felis
						eros, posuere a turpis eu, volutpat dapibus dolor. Donec et libero neque. Nulla non ligula ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sed ullamcorper ante, eu
						mattis felis. Aliquam commodo fermentum dignissim. Morbi molestie aliquam massa, nec euismod ante volutpat quis. Nulla facilisis eros ut ligula volutpat hendrerit. Curabitur mattis lacus luctus urna egestas maximus. </p>
				</div>
				<div class="panel-footer"><span>Posted on January 1st, 1970 at 9:41am</span></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$('#profile-background').css('background-image', 'url(/static/img/Backgrounds/{{ member.standard_background_filename }})');
</script>
{% endblock %}
