{% extends "layout/template-base.html" %}

{% block title %}MSX Center - Change profile background picture{% endblock %}

{% block extracss %}
{% endblock %}

{% block content %}
</div>{# we don't want to use the grid container opened by the template #}
<div id="profile-background"></div>
<div id="user-stats"></div>
<div class="container">
	<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3" id="original-poster-avatar">
            {{ macros.member_profile_data(member=user) }}
			{{ macros.member_profile_buttons(active='edit_background') }}
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9">
			<h1>Change profile background</h1>
			<p class="lead">Customize your profile by changing the background image. Click the <kbd>Save</kbd> button at the bottom of the page to save the changes, or <kbd>Cancel</kbd> to discard them.</p>
			<h3>Standard backgrounds</h3>
			<div class="row">
				{% for num in range(1, 7) %}
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<div class="panel">
							<img id="img_background_{{ num}}" src="/static/img/Backgrounds/profile_background_{{ num }}_thumb.jpg" class="img-responsive">
							<button id="button_background_{{ num }}" class="btn btn-default btn-sm btn-block" type="button">Use</button>
						</div>
					</div>
					{% if num == 3 %}
						</div>
						<div class="row">
					{% endif %}
				{% endfor %}
			</div>
{#
			XXX Will implement this after launch

			<h3>Upload your own</h3>

			<form action="{{ url_for('page_member_edit_background') }}" method="POST" enctype="multipart/form-data">
				<input type="hidden" id="standard_background_number_field" name="standard_background_number" value="0">
				<div class="form-group">
					<input type="file" name="uploaded_background" accept="image/*">
					<p class="help-block">Choose an image from your hard drive. For best results upload a big image, at least 2048x1536 pixels.</p>
					<button class="btn btn-default btn-sm" type="reset">Cancel</button>
					<button class="btn btn-success btn-sm" type="submit">Save</button>
				</div>
			</form>
#}
			<form action="{{ url_for('page_member_edit_background') }}" method="POST">
				<input type="hidden" id="standard_background_number_field" name="standard_background_number" value="0">
				<button id="cancel_button" class="btn btn-default btn-sm" type="reset">Cancel</button>
				<button id="submit_button" class="btn btn-success btn-sm" type="submit">Save</button>
			</form>
			
		</div>
	</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">

// Load the member's background image
$('#profile-background').css('background-image', 'url(/static/img/Backgrounds/{{ user.standard_background_filename }})');

// Make the Cancel buttom reload the member's profile view page
$('#cancel_button').click(function() {
	window.location = '{{ url_for('page_member', member_id=user.id, slug=user.slug) }}';
});

{# Oh, yeah! Using Python to generate shitty Javascript code! :-) #}

var background = $('#profile-background');

function reset_selected() {
{% for background in range(1,7) %}
	$('#button_background_{{ background }}').text('Use');
	$('#button_background_{{ background }}').removeClass('btn-success');
	$('#standard_background_number_field').val(0);
{% endfor %}
}

{% for background in range(1,7) %}
$('#button_background_{{ background }}').click(function () {
	background.css('background-image', 'url(/static/img/Backgrounds/profile_background_{{ background }}.jpg)');
	reset_selected();
	$('#button_background_{{ background }}').text('Selected');
	$('#button_background_{{ background }}').addClass('btn-success');
	$('#standard_background_number_field').val({{ background }});
});
{% endfor %}

</script>
{% endblock %}
