{% extends "layout/template-base.html" %}

{% block title %}MSX Center - Member profile{% endblock %}

{% block extracss %}
{% endblock %}

{% macro show_timeline_vote(v) %}
{% if v.score == 1 %}Downvoted {% else %}Upvoted {% endif %}
{% if v.message_id %}
	{% if v.member_id == v.message.author.id %}<span class="text-danger">his own message</span> {% else %}
		a message by
		<strong>
			<a href="{{ url_for('page_member', member_id=v.message.author.id, slug=v.message.author.slug) }}">
				{{ v.message.author.real_name }}
			</a>
		</strong>
	{% endif %} on <strong>
		<a href="{{ url_for('page_thread', thread_id=v.message.thread.id, slug=v.message.thread.slug) }}">
			{{ v.message.thread.title_en }}
		</a>
	</strong>.
{% else %}
	{% if v.member_id == v.comment.author.id %}his own comment {% else %}
		a comment by
		<strong>
			<a href="{{ url_for('page_member', member_id=v.comment.author.id, slug=v.comment.author.slug) }}">
				{{ v.comment.author.real_name }}
			</a>
		</strong>
	{% endif %} on
	{% if v.comment.article_id %}{# article #}
		the article <strong><a href="{{ url_for('page_articles_detail', article_id=v.comment.article.id, slug=v.comment.article.slug) }}">{{ v.comment.article.title_en }}</a></strong>.
	{% else %}{# news_item #}
		the news item <strong><a href="{{ url_for('page_news_item', news_item_id=v.comment.news_item.id, slug=v.comment.news_item.slug) }}">{{ v.comment.news_item.headline_en }}</a></strong>.
	{% endif %}
{% endif %}
{% endmacro %}

{% macro show_timeline_message(m) %}
{% if m.id == m.thread.messages[0].id %}
	Started the conversation <strong><a href="{{ url_for('page_thread', thread_id=m.thread.id, slug=m.thread.slug) }}">{{ m.thread.title_en }}</a></strong>.
{% else %}
	Posted a reply on the conversation <strong><a href="{{ url_for('page_thread', thread_id=m.thread.id, slug=m.thread.slug) }}">{{ m.thread.title_en }}</a></strong>.
{% endif %}
{% endmacro %}

{% macro show_timeline_comment(c) %}
Commented on 
{% if c.article_id %}
the article <strong><a href="{{ url_for('page_articles_detail', article_id=c.article.id, slug=c.article.slug) }}">{{ c.article.title_en }}</a></strong>.
{% elif c.news_item_id %}
the news item <strong><a href="{{ url_for('page_news_item', news_item_id=c.news_item.id, slug=c.news_item.slug) }}">{{ c.news_item.headline_en }}</a></strong>.
{% else %}
a bug on this template, apparently.
{% endif %}
{% endmacro %}

{% block content %}
</div>{# we don't want to use the grid container opened by the template #}
<div id="profile-background"></div>
<div id="user-stats"></div>
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3" id="original-poster-avatar">
			{{ macros.member_profile_data(member=member) }}
			{% if member.id == user.id %}
				{{ macros.member_profile_buttons() }}
			{% endif %}
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9">
			<h1>Activity </h1>
			{% if timeline|length %}
				{% for timestamp in timeline|reverse %}
					{% if timeline[timestamp].type == 'vote' %}
						<p><b>{{ timestamp|pretty_date }}</b>: {{ show_timeline_vote(timeline[timestamp]) }}</p>
					{% elif timeline[timestamp].type == 'comment' %}
						<p><b>{{ timestamp|pretty_date }}</b>: {{ show_timeline_comment(timeline[timestamp]) }}</p>
					{% elif timeline[timestamp].type == 'message' %}
						<p><b>{{ timestamp|pretty_date }}</b>: {{ show_timeline_message(timeline[timestamp]) }}</p>
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="alert alert-warning">
					<p>This member hasn't done anything interesting yet (no comments, no messages in the conversation lounges, and no votes).</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$('#profile-background').css('background-image', 'url(/static/img/Backgrounds/{{ member.standard_background_filename }})');
</script>
{% endblock %}
