.articles-content-heading {
  border-bottom:1px solid #ddd;
}

.articles-section-first-article {
  position:relative;
}

.articles-section-first-article-background {
  filter:blur(2px) brightness(50%);
  background-image:url(../../assets/img/sony.jpg);
  height:200px;
  background-position:center;
  background-size:cover;
  border-radius:5px;
  position:absolute;
  left:0;
  right:0;
  display:block;
  z-index:-1;
}

.articles-section-first-article-meta {
  height:200px;
  position:absolute;
  left:0;
  right:0;
  z-index:0;
  margin-top:0;
  margin-left:20px;
}

.articles-section-first-article-meta-content {
  margin-top:10px;
  text-shadow:2px 2px #444;
  position:absolute;
  margin-bottom:20px;
  margin-left:20px;
  margin-top:40px;
}

.articles-section-first-article-meta-content-chapter-number {
  font-size:64px;
  margin:0;
  padding:0;
  color:#fff;
  display:inline;
}

.articles-section-first-article-meta-content-title {
  margin-top:5px;
  color:#eee;
}

.articles-section-second-article {
  margin-top:205px;
}

.articles-feature-image img {
  border-radius:5px;
}

h1.articles-meta-chapter {
  color:#aaa;
  font-size:small;
  text-transform:uppercase;
  margin-top:5px;
  margin-bottom:5px;
  font-weight:bold;
}

.articles-meta-title {
  font-size:x-large;
  margin-top:5px;
}

.articles-series-row {
  margin-bottom:15px;
}

.articles-meta-date {
  font-size:small;
  color:#aaa;
  margin-bottom:5px;
  margin-top:5px;
}

h1.articles-meta-chapter-big {
  color:#aaa;
  text-transform:uppercase;
  margin-top:10px;
  margin-bottom:0px;
  font-size:medium;
  font-weight:bold;
}

.difficulty-label .fa {
  color:yellow;
  text-shadow:0px 1px 1px black;
}

#article-full h2 {
  margin-top:15px;
  margin-bottom:7px;
}

#article-full #article-full-metadata .article-date {
  font-size:12px;
  color:#999;
}

#article-full #article-metadata img {
  border-radius:50%;
  border:0px;
  box-shadow:none;
  width:36px;
  float:left;
  margin-right:10px;
  margin-bottom:15px;
}

#article-full #article-metadata .article-author-name {
  margin-bottom:2px;
}

#article-full #header-image img {
  border-radius:5px;
}

#article-full #header-image p {
  text-align:center;
  color:#999;
  font-size:small;
  margin-top:5px;
}

#article-full #article-body {
  font-size:medium;
}

#article-body img {
	display:block;
	max-width:100%;
	height:auto;
}

.article-section-divider {
  border-bottom:1px solid #ddd;
  padding-bottom:5px;
  margin-top:25px;
  margin-bottom:20px;
}

#article-full .related-links dd {
  margin-bottom:10px;
}

.article-comment img {
  border-radius:5px;
  border:0px;
  box-shadow:none;
  width:32px;
  float:left;
  margin-right:10px;
  margin-bottom:10px;
}

#article-comments .comment-author {
  font-size:12px;
  color:#999;
  margin-bottom:0px;
}

#article-comments .comment-date {
  font-size:12px;
  color:#999;
}

#article-full #article-links {
  font-size:medium;
}

.article-comment .panel, #user-reply, .user-reply-buttons {
  margin-left:42px;
}

.article-comment .panel .panel-footer .fa {
  margin-right:5px;
}

.article-comment .panel .panel-footer .upvote {
  color:#44f;
}

.article-comment .panel .panel-footer .comment-score {
  margin-right:10px;
}

.article-comment .panel .panel-footer .downvote {
  color:#f44;
}

.panel-title .label {
  margin-right:10px;
  top:-2px;
  position:relative;
}

.panel-title .label .fa {
  text-shadow:0px 1px 2px #000;
  color:yellow;
}

