.lounge_button {
  margin-right:10px;
}

li#user-options a.dropdown-toggle {
	padding-top: 15px;
	padding-bottom: 5px;
}

#reply_editor {
	height: 400px;
}

span.more-link i {
  color:#f00;
}

span.more-link {
	margin-left:5px;
  font-size:small;
  font-weight:bold;
}
