{% extends "layout/admin-base.html" %}

{% block title %}MSX Center Administration - Edit article{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/quill.snow.css">
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
{% endblock %}

{% macro article_data() %}
<h1 class="page-header">Articles <span class="small">Edit article</span></h1>
<ul class="nav nav-pills" role="tablist">
	<li role="presentation" id="tab-en" class="active"><a href="#input-en" aria-controls="input-en" role="tab" data-toggle="tab">English</a></li>
	<li role="presentation" id="tab-ja"><a href="#input-ja" aria-controls="input-ja" role="tab" data-toggle="tab">Japanese</a></li>
	<li role="presentation" id="tab-nl"><a href="#input-nl" aria-controls="input-nl" role="tab" data-toggle="tab">Dutch</a></li>
	<li role="presentation" id="tab-es"><a href="#input-es" aria-controls="input-es" role="tab" data-toggle="tab">Spanish</a></li>
	<li role="presentation" id="tab-pt"><a href="#input-pt" aria-controls="input-pt" role="tab" data-toggle="tab">Portuguese</a></li>
	<li role="presentation" id="tab-kr"><a href="#input-kr" aria-controls="input-kr" role="tab" data-toggle="tab">Korean</a></li>
</ul>

{% if errors %}
<div class="alert alert-danger" role="alert">
	{% if errors|length > 1 %}
		<strong>There were errors with your submission:</strong>
	{% else %}
		<strong>There was an error with your submission:</strong>
	{% endif %}
	<ul>
		{% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<form id="article_add_form" method="post">
	<input type="hidden" id="field_image_id" value="{{ article.header_image_id }}">
	<div class="tab-content">

		{# English #}
		<div role="tabpanel" class="tab-pane in active" id="input-en">
			<div class="form-group">
				<label class="control-label">Title (English)</label><i class="fa fa-exclamation-circle"></i>
				<input class="form-control" id="field_title_en" type="text" value="{{ article.title_en|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Summary (English)</label>
				<input class="form-control" id="field_summary_en" type="text" value="{{ article.summary_en|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Body (English)</label>
				<div class="form-control" id="quillEditor_en">{{ article.body_en|safe }}</div>
			</div>
			<div class="form-group">
				<label class="control-label">Draft status (English)</label>
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_draft_en" type="checkbox"{% if article.is_draft_en %} checked{% endif %}>Draft
					</label>
				</div>
			</div>
		</div>

		{# Japanese #}
		<div role="tabpanel" class="tab-pane" id="input-ja">
			<div class="form-group">
				<label class="control-label">Title (Japanese)</label><i class="fa fa-exclamation-circle"></i>
				<input class="form-control" id="field_title_ja" type="text" value="{{ article.title_ja|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Summary (Japanese)</label>
				<input class="form-control" id="field_summary_ja" type="text" value="{{ article.summary_ja|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Body (Japanese)</label>
				<div class="form-control" id="quillEditor_ja">{{ article.body_ja|safe }}</div>
			</div>
			<div class="form-group">
				<label class="control-label">Draft status (Japanese)</label>
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_draft_ja" type="checkbox"{% if article.is_draft_ja %} checked{% endif %}>Draft
					</label>
				</div>
			</div>
		</div>

		{# Dutch #}
		<div role="tabpanel" class="tab-pane" id="input-nl">
			<div class="form-group">
				<label class="control-label">Title (Dutch)</label><i class="fa fa-exclamation-circle"></i>
				<input class="form-control" id="field_title_nl" type="text" value="{{ article.title_nl|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Summary (Dutch)</label>
				<input class="form-control" id="field_summary_nl" type="text" value="{{ article.summary_nl|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Body (Dutch)</label>
				<div class="form-control" id="quillEditor_nl">{{ article.body_nl|safe }}</div>
			</div>
			<div class="form-group">
				<label class="control-label">Draft status (Dutch)</label>
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_draft_nl" type="checkbox"{% if article.is_draft_nl %} checked{% endif %}>Draft
					</label>
				</div>
			</div>
		</div>

		{# Spanish #}
		<div role="tabpanel" class="tab-pane" id="input-es">
			<div class="form-group">
				<label class="control-label">Title (Spanish)</label><i class="fa fa-exclamation-circle"></i>
				<input class="form-control" id="field_title_es" type="text" value="{{ article.title_es|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Summary (Spanish)</label>
				<input class="form-control" id="field_summary_es" type="text" value="{{ article.summary_es|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Body (Spanish)</label>
				<div class="form-control" id="quillEditor_es">{{ article.body_es|safe }}</div>
			</div>
			<div class="form-group">
				<label class="control-label">Draft status (Spanish)</label>
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_draft_es" type="checkbox"{% if article.is_draft_es %} checked{% endif %}>Draft
					</label>
				</div>
			</div>
		</div>

		{# Portuguese #}
		<div role="tabpanel" class="tab-pane" id="input-pt">
			<div class="form-group">
				<label class="control-label">Title (Portuguese)</label><i class="fa fa-exclamation-circle"></i>
				<input class="form-control" id="field_title_pt" type="text" value="{{ article.title_pt|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Summary (Portuguese)</label>
				<input class="form-control" id="field_summary_pt" type="text" value="{{ article.summary_pt|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Body (Portuguese)</label>
				<div class="form-control" id="quillEditor_pt">{{ article.body_pt|safe }}</div>
			</div>
			<div class="form-group">
				<label class="control-label">Draft status (Portuguese)</label>
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_draft_pt" type="checkbox"{% if article.is_draft_pt %} checked{% endif %}>Draft
					</label>
				</div>
			</div>
		</div>

		{# Korean #}
		<div role="tabpanel" class="tab-pane" id="input-kr">
			<div class="form-group">
				<label class="control-label">Title (Korean)</label><i class="fa fa-exclamation-circle"></i>
				<input class="form-control" id="field_title_kr" type="text" value="{{ article.title_kr|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Summary (Korean)</label>
				<input class="form-control" id="field_summary_kr" type="text" value="{{ article.summary_kr|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Body (Korean)</label>
				<div class="form-control" id="quillEditor_kr">{{ article.body_kr|safe }}</div>
			</div>
			<div class="form-group">
				<label class="control-label">Draft status (Korean)</label>
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_draft_kr" type="checkbox"{% if article.is_draft_kr %} checked{% endif %}>Draft
					</label>
				</div>
			</div>
		</div>

	</div>

	<div class="form-group">
		<label class="control-label">Author</label><i class="fa fa-exclamation-circle"></i>
		<select id="field_author_id" class="form-control">
			{% if staff %}
			<optgroup label="Staff">
				{% for author in staff %}
					<option value="{{ author.id }}"{% if article.author_id == author.id %} selected{% endif %}>{{ author.real_name }} ({{ author.email }})</option>
				{% endfor %}
			</optgroup>
			{% endif %}
			{% if superusers %}
			<optgroup label="Superusers">
				{% for author in superusers %}
					<option value="{{ author.id }}"{% if article.author_id == author.id %} selected{% endif %}>{{ author.real_name }} ({{ author.email }})</option>
				{% endfor %}
			</optgroup>
			{% endif %}
		</select>
	</div>

	<div class="form-group">
		<label class="control-label">Slug</label>
		<input id="field_slug" class="form-control" type="text" value="{{ article.slug|supress_none }}">
	</div>

	<div class="form-group">
		<label class="control-label">Category</label><i class="fa fa-exclamation-circle"></i>
		<select id="field_category_id" class="form-control">
			{% for category in categories %}
				<option value="{{ category.id }}"{% if article.category_id == category.id %} selected{% endif %}>{{ category.name_en }}</option>
			{% endfor %}
		</select>
	</div>

	{# Series #}
    <div class="form-group">
        <label class="control-label">Series</label><i class="fa fa-exclamation-circle"></i>
        <select id="field_series_id" class="form-control">
            {% for serie in series %}
                <option value="{{ series.id }}"{% if article.series_id == serie.id %} selected{% endif %}>{{ serie.title_en }}</option>
            {% endfor %}
        </select>
    </div>

	{# Related links #}
    <div class="form-group" id="field_related_links">
        <label class="control-label">Related links</label>
    	<p class="help-block">If you add duplicate links the backend will save only one copy.</p>

        <div id="div_related_links">
			{% if article.links|length %}
				{% for link in article.links %}
					<div id="link_div_{{ link.id }}" class="related-link">
						<input type="hidden" name="array_related_links" value="{{ link.id }}">
						<button class="btn btn-danger btn-xs" onclick="$('#link_div_{{ link.id }}').remove()">Remove</button>
						<span>
							<a href="{{ link.url }}" id="link_anchor_{{ link.id }}" target="_new">{{ link.title }}</a>
						</span>
					</div>
				{% endfor %}
			{% endif %}
        </div>

        <div class="row">
	        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		        <select id="field_link_id" class="form-control">
		            {% for link in links %}
		                <option value="{{ link.id }}">{{ link.title }} ({{ link.url }})</option>
		            {% endfor %}
		        </select>
	        </div>
	        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<button id="button_add_link" class="btn btn-primary btn-sm">Add</button>
			</div>
		</div>		
	</div>

	<div class="form-group">
		<label class="control-label">Publication date</label>
		<input id="field_date_published" class="form-control" type="date" value="{{ article.date_published }}">
	</div>

	<div class="form-group">
		<label class="control-label">Chapter number</label>
		<input id="field_chapter" class="form-control" type="number" value="{{ article.chapter }}">
	</div>

	<div class="form-group">
		<label class="control-label">Priority</label>
		<input id="field_priority" class="form-control" type="number" value="{{ article.priority }}">
	</div>

	<div class="form-group">
		<label class="control-label">Difficulty level</label>
        <select id="field_level" class="form-control">
            <option value="1"{% if article.level == 1 %} selected{% endif %}>Beginner</option>
            <option value="2"{% if article.level == 2 %} selected{% endif %}>Easy</option>
            <option value="3"{% if article.level == 3 %} selected{% endif %}>Intermediate</option>
            <option value="4"{% if article.level == 4 %} selected{% endif %}>Advanced</option>
            <option value="5"{% if article.level == 5 %} selected{% endif %}>Expert</option>
        </select>
	</div>

	<div class="form-group">
		<label class="control-label">Options</label>
		<div class="checkbox">
			<label class="control-label">
				<input id="field_is_published" type="checkbox"{% if article.is_published %} checked{% endif %}>Published
			</label>
		</div>
		<div class="checkbox">
			<label class="control-label">
				<input id="field_is_hidden" type="checkbox"{% if article.is_hidden %} checked{% endif %}>Hidden
			</label>
		</div>
		<div class="checkbox">
			<label class="control-label">
				<input id="field_is_hidden" type="checkbox"{% if article.is_pinned %} checked{% endif %}>Pinned
			</label>
		</div>
		<div class="checkbox">
			<label class="control-label">
				<input id="field_is_archived" type="checkbox"{% if article.is_archived %} checked{% endif %}>Archived
			</label>
		</div>
		<div class="checkbox">
			<label class="control-label">
				<input id="field_allows_comments" type="checkbox"{% if article.allows_comments %} checked{% endif %}>Allow comments
			</label>
		</div>
	</div>

	<div class="form-group">
		<button id="cancelButton" class="btn btn-default btn-sm" type="button">Cancel</button>
		<button id="saveButton" class="btn btn-primary btn-sm" type="submit">Save</button>
	</div>
</form>
{% endmacro %}

{% macro article_feature_image() %}
<h2 class="page-header">Feature image</h1>
<div id="feature_image_div">
{% if item.header_image_id %}
<img id="feature_image_img" class="img-responsive" src="/image/{{ article.header_image_id }}/feature_image">
{% endif %}
</div>
<form id="feature_image_form" enctype="multipart/form-data" action="{{ url_for('ajax_admin_article_add_feature_image') }}">
	<div class="form-group">
		<label class="control-label">Featured image</label>
		<p class="help-block">This image will appear in the list of news items.</p>
		<input name="feature_image" type="file">
	</div>
	<div class="form-group">
		<button id="uploadButton" class="btn btn-primary btn-sm" type="submit">Upload image</button>
	</div>
</form>
{% endmacro %}

{% block content %}
<div class="row">
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		{{ article_data() }}
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		{{ article_feature_image() }}
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/js/quill.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/admin/articles/articles-submit.js"></script>
<script type="text/javascript" src="/static/js/admin/links/ajax-link-info.js"></script>
{% endblock %}
