{% extends "layout/admin-base.html" %}

{% block title %}MSX Center Administration - Add lounge{% endblock %}

{% macro inputs_for_language(lang) %}
<div class="form-group">
    <label class="control-label">Name ({{ lang }})</label>
    <input class="form-control" name="name_{{ lang }}" type="text">
	<p class="help-block">Short name for this lounge.</p>
</div>
<div class="form-group">
    <label class="control-label">Description ({{ lang }})</label>
    <textarea class="form-control" name="desc_{{ lang }}" rows="5"></textarea>
	<p class="help-block">A few words describing the topic of the conversations in this lounge.</p>
</div>
{% endmacro %}

{% block content %}
<h1 class="page-header">Lounges <span class="small">Add new lounge</span></h1>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" id="tab-en" class="active"><a href="#input-en" aria-controls="input-en" role="tab" data-toggle="tab">English</a></li>
    <li role="presentation" id="tab-ja"><a href="#input-ja" aria-controls="input-ja" role="tab" data-toggle="tab">Japanese</a></li>
    <li role="presentation" id="tab-nl"><a href="#input-nl" aria-controls="input-nl" role="tab" data-toggle="tab">Dutch</a></li>
    <li role="presentation" id="tab-es"><a href="#input-es" aria-controls="input-es" role="tab" data-toggle="tab">Spanish</a></li>
    <li role="presentation" id="tab-pt"><a href="#input-pt" aria-controls="input-pt" role="tab" data-toggle="tab">Portuguese</a></li>
    <li role="presentation" id="tab-kr"><a href="#input-kr" aria-controls="input-kr" role="tab" data-toggle="tab">Korean</a></li>
</ul>

{% if errors %}
<div class="alert alert-danger" role="alert">
    {% if errors|length > 1 %}
        <strong>There were errors with your submission:</strong>
    {% else %}
        <strong>There was an error with your submission:</strong>
    {% endif %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form action="{{ url_for('page_admin_lounges_add') }}" method="POST">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane in active" id="input-en">{{ inputs_for_language('en') }}</div>
        <div role="tabpanel" class="tab-pane" id="input-ja">{{ inputs_for_language('ja') }}</div>
        <div role="tabpanel" class="tab-pane" id="input-nl">{{ inputs_for_language('nl') }}</div>
        <div role="tabpanel" class="tab-pane" id="input-es">{{ inputs_for_language('es') }}</div>
        <div role="tabpanel" class="tab-pane" id="input-pt">{{ inputs_for_language('pt') }}</div>
        <div role="tabpanel" class="tab-pane" id="input-kr">{{ inputs_for_language('kr') }}</div>
    </div>
    <div class="form-group">
        <label class="control-label">Slug </label><i class="fa fa-exclamation-circle"></i>
		<input class="form-control" name="slug" type="text">
		<p class="help-block">Lower case English words separated by hyphens. Must be unique. Identifies the lounge.</p>
    </div>
    <div class="form-group">
        <label class="control-label">Priority </label><i class="fa fa-exclamation-circle"></i>
		<input class="form-control" name="priority" type="number" value="50">
		<p class="help-block">Enter an integer number. Conversation lounges will be ordered based on this number, from lowest to highest.</p>
    </div>
    <div class="form-group">
        <label class="control-label">Color </label><i class="fa fa-exclamation-circle"></i>
        <select name="color_class" class="form-control">
			<option value="0">Default (grey)</option>
			<option value="1">Primary (blue)</option>
			<option value="2">Success (green)</option>
			<option value="3">Info (cyan)</option>
			<option value="4">Warning (yellow)</option>
			<option value="5">Danger (red)</option>
        </select>
		<p class="help-block">These color classes correspond to <a href="http://getbootstrap.com/components/#panels-alternatives" target="_new">Bootstrap's contextual classes for panels</a>.</p>
    </div>
    <div class="form-group">
        <label class="control-label">Options</label>
        <div class="checkbox">
            <label class="control-label">
                <input name="allows_anonymous" type="checkbox">Allows anonymous posts
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input name="allows_nicknames" type="checkbox">Allows nicknames
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input name="allows_unverified" type="checkbox">Allows posts from unverified members
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input name="allows_new" type="checkbox">Allows posts from new members
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input name="allows_bad_reputation" type="checkbox">Allows posts from members with bad reputation
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input name="staff_only" type="checkbox">Only staff can post
            </label>
			<p class="help-block">Others can still read posts in this lounge unless it's hidden.</p>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input name="is_visible" type="checkbox">Visible
            </label>
			<p class="help-block">If the lounge is not visible only staff members will be able to see and access it.</p>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input name="is_readonly" type="checkbox">Read-only
            </label>
			<p class="help-block">If read-only then only staff members can post in the lounge.</p>
        </div>
    </div>
    <div class="form-group">
        <button id="cancelButton" class="btn btn-default btn-sm" type="button">Cancel</button>
        <button id="saveButton" class="btn btn-primary btn-sm" type="submit">Save</button>
    </div>
</form>

{% endblock %}
