{% extends "layout/admin-base.html" %}
{% block title %}MSX Center Administration - News{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<h1 class="page-header">News</h1>
<a href="{{ url_for('page_admin_news_add') }}" class="btn btn-primary btn-xs" type="button">Add new item</a>

{# This table will appear only if there are any news items in the database #}
{% if news_items|length %}
<div class="table-responsive news-table">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Headline</th>
				<th>Author</th>
				<th>Category</th>
				<th><i class="fa fa-comment"></i></th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for item in news_items %}
				<tr>
					<td rowspan="6"><a href="{{ url_for('page_admin_news_edit', item_id=item.id) }}">{{ item.id }}</a>
						{% if item.is_feature %}<div class="news-item-labels"><span class="label label-success">Feature</span></div>{% endif %}
					</td>
					<td>EN: <a href="{{ url_for('page_admin_news_edit', item_id=item.id) }}"><strong>{{ item.headline_en }}</strong></a>
						{% if item.is_draft_en %}<span class="label label-warning">Draft</span>{% endif %}
					</td>
					<td rowspan="6"><a href="#">Javi Lavandeira</a></td>
					<td rowspan="6">{{ item.category.name_en }}</td>
					<td rowspan="6">{{ item.num_comments }}</td>
					<td rowspan="6">{{ item.date_published.strftime('%d/%b/%Y') }}</td>
				</tr>
				<tr>
					<td>JA: <a href="{{ url_for('page_admin_news_edit', item_id=item.id) }}"><strong>{{ item.headline_ja }}</strong></a>
						{% if item.is_draft_ja %}<span class="label label-warning">Draft</span>{% endif %}
					</td>
				</tr>
				<tr>
					<td>NL: <a href="{{ url_for('page_admin_news_edit', item_id=item.id) }}"><strong>{{ item.headline_nl }}</strong></a>
						{% if item.is_draft_nl %}<span class="label label-warning">Draft</span>{% endif %}
					</td>
				</tr>
				<tr>
					<td>ES: <a href="{{ url_for('page_admin_news_edit', item_id=item.id) }}"><strong>{{ item.headline_es }}</strong></a>
						{% if item.is_draft_es %}<span class="label label-warning">Draft</span>{% endif %}
					</td>
				</tr>
				<tr>
					<td>PT: <a href="{{ url_for('page_admin_news_edit', item_id=item.id) }}"><strong>{{ item.headline_pt }}</strong></a>
						{% if item.is_draft_pt %}<span class="label label-warning">Draft</span>{% endif %}
					</td>
				</tr>
				<tr>
					<td>KR: <a href="{{ url_for('page_admin_news_edit', item_id=item.id) }}"><strong>{{ item.headline_kr }}</strong></a>
						{% if item.is_draft_kr %}<span class="label label-warning">Draft</span>{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="alert alert-danger">
	There are no news items.
</div>	
{% endif %}

{% endblock %}

