{% extends "layout/admin-base.html" %}

{% block title %}MSX Center Administration - Edit link{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<h1 class="page-header">Links <span class="small">Edit link</span></h1>
<ul class="nav nav-pills" role="tablist">
	<li role="presentation" id="tab-en" class="active"><a href="#input-en" aria-controls="input-en" role="tab" data-toggle="tab">English</a></li>
	<li role="presentation" id="tab-ja"><a href="#input-ja" aria-controls="input-ja" role="tab" data-toggle="tab">Japanese</a></li>
	<li role="presentation" id="tab-nl"><a href="#input-nl" aria-controls="input-nl" role="tab" data-toggle="tab">Dutch</a></li>
	<li role="presentation" id="tab-es"><a href="#input-es" aria-controls="input-es" role="tab" data-toggle="tab">Spanish</a></li>
	<li role="presentation" id="tab-pt"><a href="#input-pt" aria-controls="input-pt" role="tab" data-toggle="tab">Portuguese</a></li>
	<li role="presentation" id="tab-kr"><a href="#input-kr" aria-controls="input-kr" role="tab" data-toggle="tab">Korean</a></li>
</ul>

{% if errors %}
<div class="alert alert-danger" role="alert">
	{% if errors|length > 1 %}
		<strong>There were errors with your submission:</strong>
	{% else %}
		<strong>There was an error with your submission:</strong>
	{% endif %}
	<ul>
		{% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<form id="news_link_add_form" method="post">
	<div class="tab-content">
		{# English #}
		<div role="tabpanel" class="tab-pane in active" id="input-en">
			<div class="form-group">
				<label class="control-label">Title (English)</label>
				<input class="form-control" id="field_title_en" type="text" value="{{ series.title_en|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Description (English)</label>
				<input class="form-control" id="field_desc_en" type="text" value="{{ series.desc_en|supress_none }}">
			</div>
		</div>
		{# Japanese #}
		<div role="tabpanel" class="tab-pane" id="input-ja">
			<div class="form-group">
				<label class="control-label">Title (Japanese)</label>
				<input class="form-control" id="field_title_ja" type="text" value="{{ series.title_ja|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Description (Japanese)</label>
				<input class="form-control" id="field_desc_ja" type="text" value="{{ series.desc_ja|supress_none }}">
			</div>
		</div>
		{# Dutch #}
		<div role="tabpanel" class="tab-pane" id="input-nl">
			<div class="form-group">
				<label class="control-label">Title (Dutch)</label>
				<input class="form-control" id="field_title_nl" type="text" value="{{ series.title_nl|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Description (Dutch)</label>
				<input class="form-control" id="field_desc_nl" type="text" value="{{ series.desc_nl|supress_none }}">
			</div>
		</div>
		{# Spanish #}
		<div role="tabpanel" class="tab-pane" id="input-es">
			<div class="form-group">
				<label class="control-label">Title (Spanish)</label>
				<input class="form-control" id="field_title_es" type="text" value="{{ series.title_es|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Description (Spanish)</label>
				<input class="form-control" id="field_desc_es" type="text" value="{{ series.desc_es|supress_none }}">
			</div>
		</div>
		{# Portuguese #}
		<div role="tabpanel" class="tab-pane" id="input-pt">
			<div class="form-group">
				<label class="control-label">Title (Portuguese)</label>
				<input class="form-control" id="field_title_pt" type="text" value="{{ series.title_pt|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Description (Portuguese)</label>
				<input class="form-control" id="field_desc_pt" type="text" value="{{ series.desc_pt|supress_none }}">
			</div>
		</div>
		{# Korean #}
		<div role="tabpanel" class="tab-pane" id="input-kr">
			<div class="form-group">
				<label class="control-label">Title (Korean)</label>
				<input class="form-control" id="field_title_kr" type="text" value="{{ series.title_kr|supress_none }}">
			</div>
			<div class="form-group">
				<label class="control-label">Description (Korean)</label>
				<input class="form-control" id="field_desc_kr" type="text" value="{{ series.desc_kr|supress_none }}">
			</div>
		</div>
	</div>

    <div class="form-group">
        <label class="control-label">Category</label><i class="fa fa-exclamation-circle"></i>
        <select id="field_category_id" class="form-control">
            {% for category in categories %}
                <option value="{{ category.id }}"{% if series.category_id == category.id %} selected{% endif %}>{{ category.name_en }}</option>
            {% endfor %}
        </select>
    </div>
	<div class="form-group">
		<label class="control-label">Slug</label>
		<input id="field_slug" class="form-control" type="text" value="{{ series.slug }}">
	</div>
	<div class="form-group">
		<div class="checkbox">
			<label class="control-label">
				<input id="field_is_hidden" type="checkbox"{% if series.is_hidden %} checked{% endif %}>Hidden
			</label>
			<p class="help-block">Series that are hidden are not shown in the list of article series. The articles belonging to the series can be accessed by entering the URL directly.</p>
		</div>
		<div class="checkbox">
			<label class="control-label">
				<input id="field_is_numbered" type="checkbox"{% if series.is_numbered %} checked{% endif %}>Numbered
			</label>
			<p class="help-block">Numbered series are those where the articles are best understood in order (such as a programming course). Non-numbered series contain standalone articles (such as hardware reviews or interviews).</p>
		</div>				
	</div>

	<div class="form-group">
		<button id="cancelButton" class="btn btn-default btn-sm" type="button">Cancel</button>
		<button id="saveButton" class="btn btn-primary btn-sm" type="submit">Save</button>
	</div>
</form>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/js/admin/series/series-submit.js"></script>
{% endblock %}
