{% extends "layout/admin-base.html" %}

{% block title %}MSX Center Administration - Add article series{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% macro inputs_for_language(lang) %}
<div class="form-group">
	<label class="control-label">Title ({{ lang }})</label>
	<input class="form-control" id="field_title_{{ lang }}" type="text">
</div>
<div class="form-group">
	<label class="control-label">Description ({{ lang }})</label>
	<input class="form-control" id="field_desc_{{ lang }}" type="text">
</div>
{% endmacro %}

{% block content %}
<div class="row">
	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<h1 class="page-header">Article series <span class="small">Add new series</span></h1>
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation" id="tab-en" class="active"><a href="#input-en" aria-controls="input-en" role="tab" data-toggle="tab">English</a></li>
			<li role="presentation" id="tab-ja"><a href="#input-ja" aria-controls="input-ja" role="tab" data-toggle="tab">Japanese</a></li>
			<li role="presentation" id="tab-nl"><a href="#input-nl" aria-controls="input-nl" role="tab" data-toggle="tab">Dutch</a></li>
			<li role="presentation" id="tab-es"><a href="#input-es" aria-controls="input-es" role="tab" data-toggle="tab">Spanish</a></li>
			<li role="presentation" id="tab-pt"><a href="#input-pt" aria-controls="input-pt" role="tab" data-toggle="tab">Portuguese</a></li>
			<li role="presentation" id="tab-kr"><a href="#input-kr" aria-controls="input-kr" role="tab" data-toggle="tab">Korean</a></li>
		</ul>

		{% if errors %}
		<div class="alert alert-danger" role="alert">
			{% if errors|length > 1 %}
				<strong>There were errors with your submission:</strong>
			{% else %}
				<strong>There was an error with your submission:</strong>
			{% endif %}
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		<form id="series_add_form" method="post">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane in active" id="input-en">{{ inputs_for_language('en') }}</div>
				<div role="tabpanel" class="tab-pane" id="input-ja">{{ inputs_for_language('ja') }}</div>
				<div role="tabpanel" class="tab-pane" id="input-nl">{{ inputs_for_language('nl') }}</div>
				<div role="tabpanel" class="tab-pane" id="input-es">{{ inputs_for_language('es') }}</div>
				<div role="tabpanel" class="tab-pane" id="input-pt">{{ inputs_for_language('pt') }}</div>
				<div role="tabpanel" class="tab-pane" id="input-kr">{{ inputs_for_language('kr') }}</div>
			</div>
		    <div class="form-group">
		        <label class="control-label">Category</label><i class="fa fa-exclamation-circle"></i>
		        <select id="field_category_id" class="form-control">
		            {% for category in categories %}
		                <option value="{{ category.id }}">{{ category.name_en }}</option>
		            {% endfor %}
		        </select>
		    </div>
			<div class="form-group">
				<label class="control-label">Slug</label>
				<input id="field_slug" class="form-control" type="text">
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_hidden" type="checkbox">Hidden
					</label>
					<p class="help-block">Series that are hidden are not shown in the list of article series. The articles belonging to the series can be accessed by entering the URL directly.</p>
				</div>
				<div class="checkbox">
					<label class="control-label">
						<input id="field_is_numbered" type="checkbox">Numbered
					</label>
					<p class="help-block">Numbered series are those where the articles are best understood in order (such as a programming course). Non-numbered series contain standalone articles (such as hardware reviews or interviews).</p>
				</div>				
			</div>
			<div class="form-group">
				<button id="cancelButton" class="btn btn-default btn-sm" type="button">Cancel</button>
				<button id="saveButton" class="btn btn-primary btn-sm" type="submit">Save</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/js/admin/series/series-submit.js"></script>
{% endblock %}

