{% macro comment(comment) %}
<div class="article-comment"><img src="../assets/img/Profile/standard_profile_6_64x64.png" class="author-avatar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="label label-warning"><i class="fa fa-star"></i></span><a href="#"><strong>Javi Lavandeira</strong></a> commented on May 1st 2017 at 23:32 JST</h3></div>
        <div class="panel-body"><span>WHATEVER </span></div>
        <div class="panel-footer"><i class="fa fa-thumbs-o-up upvote"></i><span class="comment-score">65 </span><i class="fa fa-thumbs-o-down downvote"></i><span class="comment-score">65 </span></div>
    </div>
</div>
<div class="article-comment"><img src="../assets/img/Profile/standard_profile_6_64x64.png" class="author-avatar">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="label label-primary">AUTHOR </span><a href="#"><strong>Javi Lavandeira</strong></a> commented on May 1st 2017 at 23:32 JST</h3></div>
        <div class="panel-body"><span>WHATEVER </span></div>
        <div class="panel-footer"><i class="fa fa-thumbs-o-up upvote"></i><span class="comment-score">65 </span><i class="fa fa-thumbs-o-down downvote"></i><span class="comment-score">65 </span></div>
    </div>
</div>
<div class="article-comment"><img src="../assets/img/Profile/standard_profile_6_64x64.png" class="author-avatar">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="label label-danger">MODERATOR </span><a href="#"><strong>Javi Lavandeira</strong></a> commented on May 1st 2017 at 23:32 JST</h3></div>
        <div class="panel-body"><span>WHATEVER </span></div>
        <div class="panel-footer"><i class="fa fa-thumbs-o-up upvote"></i><span class="comment-score">65 </span><i class="fa fa-thumbs-o-down downvote"></i><span class="comment-score">65 </span></div>
    </div>
</div>
{% endmacro %}
