{% macro sidebar_most_popular() %}
<h4 class="news-section-divider">Most popular</h4>
<p class="text-muted">The most visited articles of the last 90 days:</p>
<ol>
	<li><a href="#">Something happened in that user meeting</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">Nintendo won't release more games for MSX computers</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Some random guy found dead under a bridge (again)</a></li>
	<li><a href="#">Some random guy found dead under a bridge (again)</a></li>
</ol>
{% endmacro %}

{% macro sidebar_sponsor() %}
<h4 class="news-section-divider">Sponsor</h4>
<div class="text-center">
	<img src="/static/img/Ads/googleads-200x200.png">
</div>
{% endmacro %}
