{% macro sidebar_articles_most_popular(articles) %}
<h4 class="news-section-divider">Most popular</h4>
<p class="text-muted">Most popular articles:</p>
<ol>
	{% for article in articles %}
		<li><a href="{{ url_for('page_articles_detail', article_id=article.id, slug=article.slug) }}">{{ article.title_en }}</a></li>
	{% endfor %}
</ol>
{% endmacro %}

{% macro sidebar_news_items_most_popular(news_items) %}
<h4 class="news-section-divider">Most popular</h4>
<p class="text-muted">Most popular news items:</p>
<ol>
	{% for item in news_items %}
		<li><a href="{{ url_for('page_news_item', news_item_id=item.id, slug=item.slug) }}">{{ item.headline_en }}</a></li>
	{% endfor %}
</ol>
{% endmacro %}

{% macro sidebar_threads_most_popular(threads) %}
<h4 class="news-section-divider">Most popular</h4>
<p class="text-muted">Most popular threads:</p>
<ol>
	{% for thread in threads %}
		<li><a href="{{ url_for('page_thread', thread_id=thread.id, slug=thread.slug) }}">{{ thread.title_en }}</a></li>
	{% endfor %}
</ol>
{% endmacro %}




{% macro sidebar_sponsor() %}
<h4 class="news-section-divider">Sponsor</h4>
<div class="text-center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- MSX Center - Sidebar square 200x200 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-0971284931156476"
     data-ad-slot="8052392694"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endmacro %}
