{% extends "layout/template-base.html" %}

{% block title %}MSX Center - Articles in {{ series.title_en }}{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="/static/css/articles.css">
{% endblock %}

{% macro news_sidebar_most_popular() %}
<h4 class="news-section-divider">Most popular</h4>
<p class="text-muted">The most visited articles of the last 90 days:</p>
<ol>
	<li><a href="#">Something happened in that user meeting</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">Nintendo won't release more games for MSX computers</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">The msx.org web server found dead under a bridge (again)</a></li>
	<li><a href="#">The msx.org web server found dead under a bridge (again)</a></li>
</ol>
{% endmacro %}

{% macro difficulty_label(level) %}
	{% if level == 1 %}
		<span class="label label-success text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Beginner</span>
	{% elif level == 2 %}
		<span class="label label-success text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Easy</span>
	{% elif level == 3 %}
		<span class="label label-warning text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Intermediate</span>
	{% elif level == 4 %}
		<span class="label label-danger text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> Difficult</span>
	{% elif level == 5 %}
		<span class="label label-danger text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Expert</span>
	{% endif %}
{% endmacro %}

{% macro difficulty_label_old(level) %}
	{% if level == 1 %}
		<p><span class="label label-success text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Beginner</span></p>
	{% elif level == 2 %}
		<p><span class="label label-success text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Easy</span></p>
	{% elif level == 3 %}
		<p><span class="label label-warning text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Intermediate</span></p>
	{% elif level == 4 %}
		<p><span class="label label-danger text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> Difficult</span></p>
	{% elif level == 5 %}
		<p><span class="label label-danger text-uppercase difficulty-label"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> Expert</span></p>
	{% endif %}
{% endmacro %}

{% macro news_sidebar_sponsor() %}
<h4 class="news-section-divider">Sponsor</h4>
<div class="text-center"><img src="/static/img/Ads/googleads-200x200.png"></div>
{% endmacro %}

{% macro article_big(article) %}
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div>
        <div class="hidden-xs articles-feature-image"><img src="{{ url_for('send_image', image_id=article.header_image_id, dummy_filename='header_image') }}" class="img-responsive"></div>
		{% if article.chapter %}<h1 class="articles-meta-chapter-big">Chapter {{ article.chapter }}</h1>{% endif %}
        <h1 class="articles-meta-title"><a href="{{ url_for('page_articles_detail', article_id=article.id, slug=article.slug) }}">{{ article.title_en }}</a></h1>
		<p>
			<span class="articles-meta-date">By <a href="{{ url_for('page_member', member_id=article.author.id, slug=article.author.slug) }}">{{ article.author.real_name }}</a>, {{ article.date_published.strftime('%b %-d, %Y') }}</span>
		</p>
        <p>{{ article.summary_en }}</p>
		{% if article.level %}<p>{{ difficulty_label(article.level) }}</p>{% endif %}
        <a class="btn btn-success" href="{{ url_for('page_articles_detail', article_id=article.id, slug=article.slug) }}">Read article</a>
    </div>
</div>
{% endmacro %}

{% macro article_standard(article) %}
<div class="row articles-series-row">
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs articles-meta-col-feature-image">
        <div class="articles-feature-image"><img src="{{ url_for('send_image', image_id=article.header_image_id, dummy_filename='header_image') }}" class="img-responsive"></div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div>
			{% if article.chapter %}<h1 class="articles-meta-chapter">Chapter {{ article.chapter }}</h1>{% endif %}
            <h1 class="articles-meta-title"><a href="{{ url_for('page_articles_detail', article_id=article.id, slug=article.slug) }}">{{ article.title_en }}</a></h1>
			<p>
	            <span class="articles-meta-date">By <a href="{{ url_for('page_member', member_id=article.author.id, slug=article.author.slug) }}">{{ article.author.real_name }}</a>, {{ article.date_published.strftime('%b %-d, %Y') }}</span>
            </p>
			<p>{{ article.summary_en }}</p>
			{% if article.level %}<p>{{ difficulty_label(article.level) }}</p>{% endif %}
			<a class="btn btn-success" href="{{ url_for('page_articles_detail', article_id=article.id, slug=article.slug) }}">Read article</a>
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
	<div class="row">
	    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
	        <h1 class="articles-content-heading">{{ series.title_en }} <span class="small text-uppercase">{{ series.num_articles }} articles</span></h1>
	        <p class="lead">{{ series.desc_en }}</p>
	    </div>
	</div>
	
	{% if series.num_articles == 0 %}
		{# Print a warning if there are no articles in this series #}
		<div class="panel panel-danger">
			<div class="panel-body">This series has no articles.</div>
		</div>
	{% elif series.num_articles > 2 %}
		{# If there are at least 3 articles print the first two with big header images and fonts, and the rest in smaller, single-article rows #}
		<div class="row articles-series-row">
			{{ article_big(articles[0]) }}
			{{ article_big(articles[1]) }}	
		</div>
		{% for article in articles[2:] %}
			{{ article_standard(article) }}	
		{% endfor %}
	{% else %}
		{# If there's at most two articles then print them in single-article rows #}
		{% for article in articles %}
			{{ article_standard(article) }}	
		{% endfor %}
	{% endif %}
{% endblock %}
