{% extends "layout/template-base.html" %}
{% import 'macros/article-macros.html' as article_macros %}
{% import 'macros/sidebar-macros.html' as sidebar_macros %}
{% import 'macros/comments-macros.html' as comments_macros %}

{% block title %}MSX Center - {{ series.title_en }} - {{ article.title_en}}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/articles.css">
<link rel="stylesheet" href="/static/css/breadcrumbs.css">
<link rel="stylesheet" href="/static/css/comments.css">
<link rel="stylesheet" href="/static/css/quill.snow.css">
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/lightbox.min.css">
<link rel="stylesheet" href="/static/css/quill-content.css">
{% endblock %}

{% block content %}
<div class="row">
	
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div id="article-full">
	        {{ article_macros.breadcrumbs(series, article) }}
            <h2>{{ article.title_en }}</h2>
            <div id="article-metadata"><img src="{{ article.author.profile_photo_url(size='small') }}">
                <div>
                    <p class="article-author-name"><a href="{{ url_for('page_member', member_id=article.author.id, slug=article.author.slug) }}"><strong>{{ article.author.real_name }}</strong></a> </p>
                    <p class="article-date">Posted on {{ article.date_published.strftime('%b %-d, %Y') }}</p>
                </div>
            </div>
            
            {# header image #}
            <div id="header-image">
	            <img src="{{ url_for('send_image', image_id=article.feature_image_full_id, dummy_filename='article_feature_image_%s' % article.id) }}" class="img-responsive">
            </div>

			{# article body #}
            <div id="article-body" class="text-justify">
                {{ article.body_en|safe }}
            </div>

			{# related links #}
			{% if article.links|length %}
	            <div id="article-links">
	                <h3 class="article-section-divider">Relevant links</h3>
	                <dl class="related-links">
						{% for link in article.links %}
						    <dt><a href="{{ link.url }}"><span class="fa fa-external-link"></span> {{ link.title }}</a></dt>
						    <dd>{{ link.desc_en }}</dd>
					    {% endfor %}
					</dl>
	            </div>
			{% endif %}

            <div id="article-comments">

				{% if article.comments|length %} 
					<h3 class="article-section-divider">Comments </h3>
					{% for comment in article.comments %}
						{{ comments_macros.comment(user, comment, my_votes) }}
					{% endfor %} 
				{% endif %}

				{% if article.allows_comments %}
					<h3 class="article-section-divider">Post a comment</h3>
	 
					{% if user %}
						{% if user.is_blocked %}
							<div class="alert alert-danger">
								You can't comment because your account is blocked.
							</div>
						{% else %}
							<div class="article-comment">
								<img src="{{ user.profile_photo_url(size='small') }}" class="author-avatar">
								<form id="user-reply">
									<div class="form-group">
										<div class="form-control" id="reply_editor"></div>
									</div>
									<div class="form-group">
										<button class="btn btn-success btn-sm" type="submit" id="submit_button">Post comment</button>
										<button class="btn btn-default btn-sm" type="reset" id="cancel_button">Cancel</button>
									</div>
									<div class="form-group">
										<p id="comment_post_error" class="text-warning">&nbsp;</p>
									</div>
								</form>
							</div>
						{% endif %}
					{% else %}
						<div class="alert alert-warning">
							You need to <a class="alert-link" href="{{ url_for('page_signin') }}">sign in</a> in order to comment.
						</div>
					{% endif %}
				{% else %}
					<div class="alert alert-warning">
						{% if article.comments|length %}
							This article does not accept any more comments.
						{% else %}
							This article does not accept comments.
						{% endif %}
					</div>
				{% endif %}
 
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		{{ sidebar_macros.sidebar_sponsor() }}
		{{ sidebar_macros.sidebar_articles_most_popular(popular_articles) }}
        <h4 class="news-section-divider">News archive </h4>
        <ul>
            <li><a href="#">March 2017 (12 items)</a></li>
            <li><a href="#">February 2017 (8 items)</a></li>
            <li><a href="#">January 2017 (1 item)</a></li>
            <li><a href="#">December 2016 (15 items)</a></li>
        </ul>
    </div>

</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/js/quill.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/articles/articles-comment-submit.js"></script>
<script type="text/javascript" src="/static/js/lightbox.min.js"></script>
<script type="text/javascript" src="/static/js/votes-comment.js"></script>
{% endblock %}
