{% extends "layout/template-base.html" %}
{% import 'macros/comments-macros.html' as comments_macros %}
{% import 'macros/sidebar-macros.html' as sidebar_macros %}

{% block title %}MSX Center - News{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/news.css">
<link rel="stylesheet" href="/static/css/comments.css">
<link rel="stylesheet" href="/static/css/quill.snow.css">
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/lightbox.min.css">
<link rel="stylesheet" href="/static/css/quill-content.css">
{% endblock %}

{% macro news_item_related_link(link) %}
<dt><a href="{{ url_for('visit_link', link_id=link.id) }}"><span class="fa fa-external-link"></span> {{ link.title }}</a></dt>
<dd>{{ link.desc_en }}</dd>
{% endmacro %}

{% block content %}
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 news-item-column">
                <div id="news-item-full">
                    <h5 class="text-uppercase">{{ news_item.category.name_en }}</h5>

                    {# HEADLINES #}
                    <h2>{{ news_item.headline_en }}</h2>
                    {% if news_item.subhead_en %}
	                    <h3>{{ news_item.subhead_en }}</h3>
                    {% endif %}

                    {# METADATA (Author and date) #}
                    <div id="news-item-metadata">
	                    <img src="{{ news_item.author.profile_photo_url(size='small') }}" alt="{{ news_item.author.real_name }}'s profile photo">
                        <div>
                            <p class="news-author-name"><a href="#"><strong>{{ news_item.author.real_name }}</strong></a> </p>
                            <p class="news-item-date">Posted on {{ news_item.date_published.strftime('%b %-d, %Y') }}</p>
                        </div>
                    </div>

                    {# HEADER IMAGE AND CAPTION #}
                    <div id="header-image">
	                    <img src="{{ url_for('send_image', image_id=news_item.feature_image_full_id, dummy_filename='feature_image') }}" class="img-responsive">
                    </div>

                    {# NEWS ITEM BODY #}
                    <div id="news-item-body" class="text-justify">
	                    {{ news_item.body_en|safe }}
                    </div>
                    
                    {# RELATED LINKS #}
                    {% if news_item.links|length %}
	                    <div id="news-item-links">
	                        <h4 class="news-section-divider">Related links</h4>
	                        <dl class="related-links">
		                        {% for link in news_item.links %}
		                        	{{ news_item_related_link(link) }}
		                        {% endfor %}
							</dl>
	                    </div>
                    {% endif %}

                    {# COMMENTS #}
					{% if news_item.comments|length %}
						<div id="news-item-comments">
							<h4 class="news-section-divider">Comments</h4>
							{% if news_item.comments %}
								{% for comment in news_item.comments %}
									{{ comments_macros.comment(user, comment, my_votes) }}
								{% endfor %}
							{% else %}
								<div class="alert alert-warning">
									There are no comments yet.
								</div>
							{% endif %}
                        </div>
					{% endif %}

					{% if news_item.allows_comments %}
						<div id="post-comment-form">
							<h4 class="news-section-divider">Post a comment</h4>
							{% if user %}
								{% if user.is_blocked %}
									<div class="alert alert-danger">
										You can't comment because your account is blocked.
									</div>
								{% else %}
									<img src="{{ user.profile_photo_url(size='small') }}" class="author-avatar">
									<form id="user-reply">
										<div class="form-group">
											<div class="form-control" id="reply_editor"></div>
										</div>
										<div class="form-group">
											<button id="submit_button" class="btn btn-primary btn-xs" type="submit">Post comment</button>
											<button id="cancel_button" class="btn btn-default btn-xs" type="reset">Cancel</button>
										</div>
										<div class="form-group">
											<p id="comment_post_error" class="text-warning">&nbsp;</p>
										</div>
									</form>
								{% endif %}
							{% else %}
								<div class="alert alert-warning">
									You need to be <a class="alert-link" href="{{ url_for('page_signin') }}"><b>signed in</a> to comment.
								</div>
							{% endif %}
						</div>
					{% else %}
						<div class="alert alert-warning">
							{% if news_item.comments|length %}
								This item does not accept any more comments.
							{% else %}
								This item does not accept comments.
							{% endif %}
						</div>
					{% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		{{ sidebar_macros.sidebar_sponsor() }}
		{{ sidebar_macros.sidebar_news_items_most_popular(popular_news_items) }}
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/js/quill.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/news/news-item-comment-submit.js"></script>
<script type="text/javascript" src="/static/js/lightbox.min.js"></script>
<script type="text/javascript" src="/static/js/votes-comment.js"></script>
{% endblock %}
