{% extends "layout/template-base.html" %}
{% import 'macros/sidebar-macros.html' as sidebar_macros %}

{% block title %}MSX Center - News{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="/static/css/news.css">
{% endblock %}

{% macro news_sidebar_archive() %}
<h4 class="news-section-divider">News archive </h4>
<ul>
	<li><a href="#">March 2017 (12 items)</a></li>
	<li><a href="#">February 2017 (8 items)</a></li>
	<li><a href="#">January 2017 (1 item)</a></li>
	<li><a href="#">December 2016 (15 items)</a></li>
</ul>
{% endmacro %}

{% macro news_item_big(item) %}
<a href="{{ url_for('page_news_item', news_item_id=item.id, slug=item.slug) }}">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 news-column">
		<div class="news-item">
			{% if item.category %}<h5 class="text-uppercase">{{ item.category.name_en }}</h5>{% endif %}
			{% if item.feature_image_small_id %}<img src="{{ url_for('send_image', image_id=item.feature_image_small_id, dummy_filename='newsite') }}" class="img-responsive">{% endif %}
			<h3>{{ item.headline_en|safe }}</h3>
			{% if item.subhead_en %}<h4>{{ item.subhead_en|safe }}</h4>{% endif %}
			{# XXX <p class="news-item-date">Posted on {{ date.strftime('%b %-d, %Y') }} by <a href="#">{{ item.author.real_name }}</a></p> #}{# replace author with author.name and a link to this member's profile after passing an actual user object #}
			<p class="news-item-date">Posted on {{ item.date_published.strftime('%b %-d, %Y') }} by <a href="#">{{ item.author.real_name }}</a></p>
			<div class="news-item-body text-justify">{{ item.summary_en|supress_none }}</div>
			<div class="news-item-num-comments text-right">
				{% if item.num_comments %}
					<span><i class="fa fa-comment"></i> {{ item.num_comments }}</span>
				{% else %}
					<span><i class="fa fa-pencil"></i> No comments yet</span>
				{% endif %}
				<span class="more-link"><a href="{{ url_for('page_news_item', news_item_id=item.id, slug=item.slug) }}">Read&nbsp;more&nbsp;<i class="fa fa-angle-double-right"></i></a></span>
			</div>
		</div>
	</div>
</a>
{% endmacro %}

{% block content %}
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<h4 class="news-section-divider">Recent news</h4>
			<div class="row">
			{% for item in pagination.items %}
				{{ news_item_big(item) }}
			{% endfor %}
			</div>
		</div>
	
		{# sidebar #} 
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			{{ sidebar_macros.sidebar_sponsor() }}
			{{ sidebar_macros.sidebar_news_items_most_popular(popular_news_items) }}
		</div>
	</div>

	{# pagination #}
	<div class="row">
		<div class="col-md-12">
			<nav>
				<ul class="pagination">
					{% if pagination.has_prev %}<li><a href="{{ url_for('page_news', page=pagination.page-1 ) }}">&laquo;</a></li>{% else %}<li class="disabled"><a>&laquo;</a></li>{% endif %}
					{% for page in pagination.iter_pages() %}
						{% if page %}
							{% if page != pagination.page %}
								<li><a href="{{ url_for('page_news', page=page ) }}">{{ page }}</a></li>
							{% else %}
								<li><a href="{{ url_for('page_news', page=page ) }}"><strong>{{ page }}</strong></a></li>
							{% endif %}
						{% else %}
							<li><a class="disabled">&hellip;</a></li>
						{% endif %}
					{% endfor %}
					{% if pagination.has_next %}<li><a href="{{ url_for('page_news', page=pagination.page+1 ) }}">&raquo;</a></li>{% else %}<li class="disabled"><a>&raquo;</a></li>{% endif %}
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}
