{% extends "layout/template-withoutnavbar.html" %}
{% block title %}MSX Center - Password reset request received{% endblock %}
{% block headertitle %}Password reset requested{% endblock %}
{% block content %}
<p>We received your request. If the email address you entered (<a href="mailto:{{ email }}">{{ email }}</a>) is registered in our site then you should receive a verification email in a few moments.</p>
<p>The message looks like this;</p>
<pre>
<strong>From:   </strong> <a href="mailto:no-reply@msx-center.com">MSX Center</a>
<strong>Subject:</strong> Your MSX Center password reset
</pre>
<p>If you can't find this message in your inbox please check the spam folder in your email application.</p>
<p>The verification link is valid for one hour.</p>
{% endblock %}
