{% extends "layout/template-withoutnavbar.html" %}
{% block title %}MSX Center - Reset your password{% endblock %}
{% block headertitle %}Password reset{% endblock %}
{% block content %}
{% if invalid_key %}
    <div class="alert alert-danger" role="alert">
        <strong>Your verification key is invalid</strong>
        <ul>
            <li>If you entered it manually try double-checking and entering it again.</li>
            <li>If you came here by clicking a link in your email, the key may have expired. In that case, just <a class="alert-link" href="{{ url_for('page_resetpassword') }}">request to reset the password again</a>.</li>
        </ul>
    </div>
{% endif %}
<p class="lead text-center">Enter your email address below:</p>
<div id="activationform">
	<form method="GET" action="{{ url_for('page_resetpassword') }}">
		<div class="form-group">
			<input class="form-control input-lg" type="email" name="email" required="" placeholder="user@example.com" id="key">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Request password reset</button>
		</div>
	</form>
</div>
<div class="alert alert-warning" role="alert"><span>We will send you an email with a link and a verification key. This protects you from other people trying to reset your password.</span></div>
{% endblock %}
