{% extends "layout/template-base.html" %}
{% block title %}MSX Center - Terms{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/headings.css">
<link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}
<h1 class="heading">Usage terms</h1>

<h3 class="heading">Privacy</h3>
<p><strong>Email address</strong>: We don't share your email address to any third parties, ever. We use the email address as identifier in order to prevent abuse (bots automatically creating multiple accounts) and as a way to reset your password in case you're locked out.</p>
<p><strong>Real names</strong>: We prefer that you register with your real name because, in our experience, this improves the general behavior of everybody in the community. However, as long as you behave in a civil manner we are happy even if you use a nickname.</p>
<p>MSX Center staff members (admins, moderators, translators, content writers, etc) are required to use their real name and profile photo at all times.</p>

<h3 class="heading">Behavior and moderation</h3>
<p>When commenting on the articles or news items or posting in the conversation areas try and behave as if you're having a face-to-face conversation.</p>
<p>Expect (and accept) criticism when you post in public. Learn to handle it like an adult. When replying to someone who points out actual facts about your behavior or your product please address the specific facts.</p>
<p>Threats (of any kind) are not allowed.</p>
<p>The moderator's job is to keep conversations on-topic, to help clarify disputes, and to keep things from getting out of hand. Moderators are expected to be impartial at all times, and they have the ability to temporarily block members from posting on a conversation thread or the whole site. This will only be done as a last resort. Moderators are NOT the Internet Police and have no authority, just a job to do: to moderate and keep things civil.</p>
<p>Moderators who are unable to do their job will be removed.</p>

<h3 class="heading">Allowed content</h3>
<p>MSX Center is in Japan. Because of this, we ask you that you respect Japanese law, in addition to the laws of the country where you reside.</p>
<p>Especifically, we do <strong>not</strong> allow:</p>
<ul class="about-list text-justify">
	<li>Posting or selling copyrighted material unless explicitly approved by the copyright owner</li>
	<li>Posting or selling products made by you (or a third party) that include unlicensed copyrighted material</li>
</ul>
<p>Examples of content we do not allow:</p>
<ul class="about-list text-justify">
	<li>Copyrighted software (games, utilities, system files...)</li>
	<li>System ROMs or firmware</li>
	<li>Complete scans of printed material (books, magazines, manuals...)</li>
	<li>Products that include unlicensed images, sounds, trademarks...</li>
	<li>Compilations of copyrighted games</li>
	<li>Hardware devices that include unlicensed firmware</li>
</ul>
<p>This is not a comprehensive list. When the situation arises we'll decide on a per-case basis.</p>
<p>Usage following the <a href="http://fairuse.stanford.edu/overview/fair-use/" target="_blank">Fair Use doctrine</a> IS allowed.</p>

<h3 class="heading">Final words</h3>
<p>This list is incomplete and will keep evolving. When in doubt, just follow these simple rules:</p>
<ul class="about-list text-justify">
	<li>Don't do anything illegal</li>
	<li>Use your common sense</li>
	<li>Behave as if you're talking to somebody else in person in a room full of other people</li>
</ul>

{% endblock %}
