{% if errors.blocked -%}
	<div class="alert alert-danger">
		<p><strong>ACCOUNT BLOCKED</strong></p>
		<p>Sorry, you are not allowed to post because your account is blocked. If you feel this is a mistake, please visit the <a class="alert-link" href="http://XXX">support page</a> for instructions.</p>
	</div>
{%- elif errors.anonymous -%}
	<div class="alert alert-warning">
		<p><strong>Anonymous posting now allowed</strong></p>
		<p>Sorry, this lounge doesn't allow anonymous posts. Please <a class="alert-link" href="{{ url_for('page_signin') }}">sign in</a> in order to post.</p>
	</div>
{%- elif errors.new -%}
	<div class="alert alert-warning">
		<p><strong>You can't post in this lounge</strong></p>
		<p>Sorry, you can't post here yet because your account is too new. We do this in order to avoid spam and other undesired behavior.</p>
		<p>To become able to post in this lounge you have to meet the two requirements below:</p>
		<p>
			<ul>
				<li>Your account must be older than one week.</li>
				<li>You must have posted at least 5 messages in other lounges.</li>
			</ul>
		</p>
	</div>
{%- elif errors.unverified -%}
	<div class="alert alert-warning">
		<p><strong>You can't post in this lounge</strong></p>
		<p>Sorry, before you can post in this lounge we need to verify your identity. We require this in order to avoid spam and scams.</p>
		<p>To learn how to verify your identity please visit the <a class="alert-link" href="http://XXX">Verify identity</a> section in your user menu.</p>
	</div>
{%- elif errors.not_staff -%}
	<div class="alert alert-danger">
		<p><strong>You can't post in this lounge</strong></p>
		<p>Sorry, you can't post lounge because it is only for MSX Center staff. In fact, you shouldn't be able to even see this lounge at all.</p>
		<p>Are you playing funny games? ;-)</p>
	</div>
{%- elif errors.bad_reputation -%}
	<div class="alert alert-danger">
		<p><strong>You can't post in this lounge</strong></p>
		<p>Sorry, you can't post lounge because your reputation is too low. If you feel this is a mistake, please let us know in the Support lounge.</p>
		<p>Are you playing funny games? ;-)</p>
	</div>
{%- else -%}

	<h3>Post a reply</h3>

	{% if user and lounge.allows_nicknames %}
		<div class="form-group">
			<label class="control-label">Post as</label>
			<select id="field_post_as" name="post_as" class="form-control" {{form_status}}>
				<option value="1">My real name: {{ user.real_name }}</option>
				<option value="2">My nickname: {{ user.nickname }}</option>
				{% if lounge.allows_anonymous %}
					<option value="3">Anonymous (your identity will not be shown)</option>
				{% endif %}
			</select>
		</div>
	{% else %}
		<input id="field_post_as" type="hidden" name="post_as" value="none">
	{% endif %}
		<div class="form-group">
			{#<label class="control-label">Your message</label> #}
			<p class="help-text">Enter your message below. Use the toolbar to style the text, add code and images. The message area will expand as needed.</p> 
			<div class="form-control" id="quillEditor" {{form_status}}></div>
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit" id="submitButton" {{form_status}}>Post reply</button>
		</div>
{%- endif %}
