{% extends "layout/template-base.html" %}
{% import 'macros/lounges-macros.html' as lounges_macros %}

{% block title %}MSX Center - Conversation: {{ thread.title_en }}{% endblock %}

{% if errors %}
{% set form_status = 'disabled' %}
{% else: %}
{% set form_status = '' %}
{% endif %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/lightbox.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/quill.snow.css">
<link rel="stylesheet" href="/static/css/breadcrumbs.css">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-offset-2 col-md-8 col-md-offset-2">
		<div>
			{{ lounges_macros.breadcrumbs(lounge, thread) }}
			<h2>{{ thread.title_en }}</h2>
		</div>
	</div>
</div>

{# Original poster #}
<div class="row">
	<div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3" id="original-poster-avatar"><img class="img-responsive" src="{{ thread.messages[0].user.profile_photo_url() }}">
		<address>
			{% if thread.messages[0].user %}
				{% if thread.messages[0].post_as == thread.messages[0].PostAsType.REALNAME %}
					<strong><a href="{{ url_for('page_member', member_id=thread.messages[0].user.id, slug=thread.messages[0].user.slug) }}">{{ thread.messages[0].user.real_name }}</a></strong><br>
				{% else %}
					<strong><a href="{{ url_for('page_member', member_id=thread.messages[0].user.id, slug=thread.messages[0].user.slug) }}">{{ thread.messages[0].user.nickname }}</a></strong><br>
				{% endif %}
				Joined {{ thread.messages[0].user.registration_date.strftime('%d/%b/%Y') }}<br>
			{% else %}
				<strong>Anonymous</strong>
			{% endif %}
		</address>
		<div>
			<i class="fa fa-user"></i>
			<i class="fa fa-search"></i>
			<i class="fa fa-heart"></i>
			<i class="fa fa-star"></i>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-9">
		<div class="panel panel-danger">
			<div class="panel-body">
				{{ thread.messages[0].body_en|safe }}
			</div>
			<div class="panel-footer"><span>Posted on {{ thread.messages[0].date_posted.strftime('%d/%b/%Y') }}</span></div>
		</div>
	</div>
</div>

{# REPLIES, if any #}
{% if thread.messages|length > 1 %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3>Replies</h3>
		</div>
	</div>
	{% for message in thread.messages[1:] %}
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
				<div class="panel panel-success">
					<div class="panel-heading"><img src="{{ message.user.profile_photo_url(size="small") }}" class="poster-avatar">
						{% if message.post_as == message.PostAsType.REALNAME %}
							<h3 class="panel-title">{{ message.user.real_name }}</h3>
						{% elif message.post_as == message.PostAsType.NICKNAME %}
							<h3 class="panel-title">{{ message.user.nickname }}</h3>
						{% else %}
							{# Anonymous #}
							<h3 class="panel-title">Anonymous</h3>
						{% endif %}
						<div class="message-date"><span>Posted on {{ message.date_posted.strftime('%d/%b/%Y %H:%M:%S') }}</span></div>
					</div>
					<div class="panel-body">{{ message.body_en|safe }}</div>
					<div class="panel-footer">
						<div class="message-score"><span><strong>Standing:</strong> Good</span></div>
						<div class="message-controls">
							<i class="fa fa-thumbs-o-up upvote"></i>
							<i class="fa fa-thumbs-o-down downvote"></i>
							<i class="fa fa-exclamation"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endif %}

{# SEPARATOR #}
<div class="row"><div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12"><hr></div></div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
		<form>
			{# Display posting permissions #}
			{# include '/lounges/include-lounge-thread-permissions.html' #}

			{# Display messages indicating why the user can't post, or the Quill editor input if he's allowed #}
			{% include '/lounges/include-editor-reply.html' %}
		</form>
	</div>
</div>

{# SEPARATOR #}
<div class="row"><div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12"><hr></div></div>

{% endblock %}

{% block extrajs %}
<script src="/static/js/lightbox.min.js"></script>
{% if not errors %}
<script type="text/javascript" src="/static/js/quill.min.js"></script>
<script type="text/javascript">

    // Initialize MediumEditor
    var toolbarOptions = [
        [{ 'header': [1, 2, 3, false] }],
        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        [{ 'color': [] },],          // dropdown with defaults from theme
        ['link', 'image', 'video', 'blockquote', 'code-block'],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
    ];
    var quill = new Quill('#quillEditor' , {
        modules : {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });

    // Attach event to button
    $("#submitButton").click(function (e) {
        e.preventDefault();
        quill.enable(false);
        $("#submitButton").prop("disabled", true);
        $("#submitButton").text("Submitting...");
        $("#quillEditor").prop("disabled", true);

        $.ajax({
            method: "POST",
            url: "{{ url_for('page_thread', thread_id=thread.id, slug=thread.slug) }}",
            processData: true,
            dataType: 'json',
            data: {
                thread_id: {{ thread.id }},
                post_as: $('#field_post_as').val(),
                message: quill.root.innerHTML
            }
        })
        .done(function(result) {
            console.log('Redirecting to ' + result.url)
            window.location = result.url;
        });
        quill.enable(false);
        $("#submitButton").prop("disabled", true);
        $("#quillEditor").prop("disabled", true);
    });
</script>
{% endif %}
<script type="text/javascript">
    // Initialize popovers
    $(function () {
        $('[data-toggle="popover"]').popover({container: 'body', placement: 'top', trigger: 'hover'})
    });
</script>
{% endblock %}
