{% extends "layout/template-base.html" %}
{% import 'macros/comments-macros.html' as comments_macros %}

{% block title %}MSX Center - Conversation lounges - {{ thread.title_en }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/static/css/lounges.css">
<link rel="stylesheet" href="/static/css/comments.css">
<link rel="stylesheet" href="/static/css/quill.snow.css">
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
<link rel="stylesheet" href="/static/css/lightbox.min.css">
{% endblock %}

{% macro threads_sidebar_most_popular() %}
<h4 class="lounges-section-divider">Most popular</h4>
<p class="text-muted">The most popular threads of the last 90 days:</p>
<ol>
	<li><a href="#">Something happened in that user meeting</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">The French fries in this Burger King are too salty</a></li>
	<li><a href="#">Nintendo won't release more games for MSX computers</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Tecnobytes releases new FC SAN interface cartridge</a></li>
	<li><a href="#">Some random guy found dead under a bridge (again)</a></li>
	<li><a href="#">Some random guy found dead under a bridge (again)</a></li>
</ol>
{% endmacro %}

{% block content %}
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="lounges-thread-full">
                    {# THREAD TITLE #}
                    <h2>{{ thread.title_en }}</h2>

                    {# METADATA (Author and date) #}
                    <div id="lounges-thread-metadata">
	                    <img src="{{ first_message.author.profile_photo_url(size='small') }}">
                        <div>
                            <p class="thread-author-name"><a href="{{ url_for('page_member', member_id=first_message.author.id, slug=first_message.author.slug) }}"><strong>{{ first_message.author.real_name }}</strong></a> </p>
                            <p class="lounges-thread-date">Posted on {{ first_message.date_posted.strftime('%b %-d, %Y') }}</p>
                        </div>
                    </div>

                    {#  BODY #}
                    <div id="lounges-thread-body" class="text-justify">
	                    {{ first_message.body_en|safe }}
                    </div>
                    
                    {# COMMENTS #}
					{% if thread.messages|length > 1 %}
						<div id="lounges-thread-comments">
							<h4 class="lounges-section-divider">Replies</h4>
							{% for message in thread.messages[1:] %}
								{{ comments_macros.message(user, message, my_votes) }}
							{% endfor %}
                        </div>
					{% endif %}

					{% if thread.is_locked %}
						<div class="alert alert-warning">
							{% if thread.messaages|length %}
								This item does not accept any more comments.
							{% else %}
								This item does not accept comments.
							{% endif %}
						</div>
					{% else %}
						<div id="post-comment-form">
							<h4 class="lounges-section-divider">Post a reply</h4>
							{% if user %}
								{% if user.is_blocked %}
									<div class="alert alert-danger">
										You can't reply because your account is blocked.
									</div>
								{% else %}
									<img src="{{ user.profile_photo_url(size='small') }}" class="author-avatar">
									<form id="user-reply">
										{% include '/lounges/include-editor-reply.html' %}
									</form>
								{% endif %}
							{% else %}
								<div class="alert alert-warning">
									You need to be <a class="alert-link" href="{{ url_for('page_signin') }}"><b>signed in</a> to reply.
								</div>
							{% endif %}
						</div>
					{% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		{{ threads_sidebar_most_popular() }}
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/static/js/quill.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/lounges/thread-reply-submit.js"></script>
<script type="text/javascript" src="/static/js/lightbox.min.js"></script>
<script type="text/javascript" src="/static/js/votes-message.js"></script>
{% endblock %}
