{% import 'macros/macros.html' as macros %}
<!DOCTYPE html>
<html>

<head>
	{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/styles.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Clean.css">
	{% block extracss %}{% endblock %}
	{% endblock %}
</head>

<body>
    {{ macros.navbar(active_item=active_item, user=user, navbar_series=navbar_series) }}
    <div class="container">
	{% block content %}{% endblock %}
	</div>
	{{ macros.footer() }}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
	{% block extrajs %}{% endblock %}
</body>

</html>

