<!DOCTYPE html>
<html>

<head>
	{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Clean.css">
    <link rel="stylesheet" href="/static/css/Navigation-Clean1.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Search1.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/styles.css">
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/static/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
	{% endblock %}
</head>

<body>
    <div class="container">
		<div class="row" id="signin-logo">
			<a href="/"><img src="/static/img/msx_center_logo.png" width="200"></a>
		</div>
		<div class="row" id="signin-form">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 id="thankyou-heading">{% block headertitle %}{% endblock %}</h1>
						{% block content %}{% endblock %}
					</div>
				</div>
				<footer>
					<p id="signin-terms"><a href="{{ url_for('page_terms') }}">Terms of use</a>
					<p class="text-center">Copyright © 2017 MSX Center. "MSX" is a registered trademark of the MSX Licensing Corporation. </p>
				</footer>
			</div>
		</div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/google-analytics.js"></script>
	{% block javascript %}{% endblock %}
</body>

</html>
