<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>msx-center</title>
    <link rel="stylesheet" href="https://www.msx-center.com/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.msx-center.com/static/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://www.msx-center.com/static/css/Navigation-Clean1.css">
    <link rel="stylesheet" href="https://www.msx-center.com/static/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="https://www.msx-center.com/static/css/Navigation-with-Search1.css">
    <link rel="stylesheet" href="https://www.msx-center.com/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="https://www.msx-center.com/static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row" id="signin-logo">
            <div class="col-md-4 col-md-offset-4">
				<a href="https://www.msx-center.com">
					<img src="https://www.msx-center.com/static/img/msx_center_logo.png" width="200">
				</a>
			</div>
        </div>
        <div class="row" id="signin-form">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
						<p>There's a new reply by {{ reply_author_name }} in the conversation thread <strong><a href="https://www.msx-center.com{{ reply_thread_url }}">{{ reply_thread_title }}</a></strong> that you're following.</p>

                    </div>
                </div>
                <footer>
                    <p class="text-center">Copyright © 2017 MSX Center. "MSX" is a registered trademark of the MSX Licensing Corporation. </p>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://www.msx-center.com/static/js/jquery.min.js"></script>
    <script src="https://www.msx-center.com/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
