<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>msx-center</title>
    <link rel="stylesheet" href="http://www.msx-center.com/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.msx-center.com/static/css/Footer-Clean.css">
    <link rel="stylesheet" href="http://www.msx-center.com/static/css/Navigation-Clean1.css">
    <link rel="stylesheet" href="http://www.msx-center.com/static/css/Navigation-with-Button1.css">
    <link rel="stylesheet" href="http://www.msx-center.com/static/css/Navigation-with-Search1.css">
    <link rel="stylesheet" href="http://www.msx-center.com/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="http://www.msx-center.com/static/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row" id="signin-logo">
            <div class="col-md-4 col-md-offset-4"><a href="http://www.msx-center.com"><img src="http://www.msx-center.com/static/img/msx_center_logo.png" width="200"></a></div>
        </div>
        <div class="row" id="signin-form">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1 id="thankyou-heading">Welcome! </h1>
                        <p class="lead text-center">Thank you for joining MSX Center</p>
						<p><strong>Especially now that we're in beta!</strong></p>
						<p>We are aware that there are still things to fix, and templates to rewrite (such as the horrible design of the conversation lounges!). The beta will run until the end of May 2017. We'll be adding content and fixing the remaining problems during these days before announcing the final launch.</p>
						<p>Feel free to poke around, and it would be great if you could report in the conversation lounges any issues you find. We have a document with known issues <a href="https://docs.google.com/spreadsheets/d/1fE0YQ5bMYGl-xzXKvo_3UEDbupl_AaAXkarMshmVs_c/edit?usp=sharing">here</a>. Feel free to take a look at it if you're bored. :-)</p>
						<p>Again, thanks for joining the beta and helping us finish the site!</p>
						<p><i>-- Javi</i></p>

                        <div id="activation-button"><a class="btn btn-success btn-lg" role="button" href="http://www.msx-center.com">Visit MSX Center now</a></div>
                    </div>
                </div>
                <footer>
                    <p class="text-center">Copyright © 2017 MSX Center. "MSX" is a registered trademark of the MSX Licensing Corporation. </p>
                </footer>
            </div>
        </div>
    </div>
    <script src="http://www.msx-center.com/static/js/jquery.min.js"></script>
    <script src="http://www.msx-center.com/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
